<!DOCTYPE html>
<head>
    <title>HOME PAGE</title>
    <link rel="stylesheet" type="text/css" href="../css/home-style.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="container">
        <div class="pasek">
            <a class="kostka" href="">
                <img src="../img/stetting.svg">  
            </a>
            <a class="kostka" href="">
                <img src="../img/logout.svg">
            </a>
            
            <img src="../img/male-logo-z-napisem.svg" class="male-logo">
            
            <a class="kostka" href="https://www.instagram.com/" target="_blank">
                <img src="../img/insta.svg">
            </a>
            <a class="kostka" href="https://www.facebook.com/" target="_blank">
                <img src="../img/fb.svg">
            </a>
            
        </div>
        <div class="tresc" style="clear: both; width: 100%; height: auto;">
            <div class=galeria>
                <div class="uklad">
                    <h1 style="margin: 2vh;">OJDKRYJ</h1>
                    <div class="kafelek">

                    </div>
                    <div class="kafelek" >

                    </div>
                    <div class="kafelek" style="clear: both;">

                    </div>
                    <div class="kafelek">

                    </div>
                    
                </div>
            
                <div class="uklad">
                    <h1 style="margin: 2vh;">GALERIA</h1>
                    <div class="kafelek">

                    </div>
                    <div class="kafelek">

                    </div>
                    <div class="kafelek" style="clear: both;">

                    </div>
                    <div class="kafelek">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>