<!DOCTYPE html>
<head>
    <title>REGISTER PAGE</title>
    <link rel="stylesheet" type="text/css" href="../css/register-style.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../img/duze-logo-z-napisem.svg" class="respo">
        </div>
        
        <form>
            <input name="name" type="text" placeholder="name" style="margin-top: 4vh;">
            <input name="surname" type="text" placeholder="surname">
            <input name="email" type="text" placeholder="email">
            <input name="password" type="password" placeholder="password">
            <input name="password" type="password" placeholder="password">
            <input name="phone-number" type="number" placeholder="phone number">
            <button>CREATE ACCOUNT</button>
        </form>
       
    </div>
</body>