<!DOCTYPE html>
<head>
    <title>START PAGE</title>
    <link rel="stylesheet" type="text/css" href="../css/start-style.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../img/duze-logo-z-napisem.svg" class="respo">
        </div>
        <div class="powitanie">
            Witaj, aby przejść dalej zaloguj się<br/> bądź utwórz konto
        </div>
        <form>
            <button>LOGIN</button>
            <button>CREATE ACCOUNT</button>
        </form>
    </div>
</body>