.pasek{
    justify-content: center;
    text-align: center;
    align-items: center;
    width: auto;
    height: auto;
    
}
.galeria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

    width: auto;
    height: auto;
}
.uklad{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    width: auto;
    text-align: center;
    background:#efdec7;
    border-radius: 25px;
    margin: 3vw;
    color:#707070;
    float: left;
}
.kostka{
    float: left;
	text-decoration: none;
    margin: 1vh;
    border: none;
}
.kostka:hover{
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;    
}
.galeria-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: auto;
    float: left;
}
.container-obrazy{
    display: flex;
    flex-direction: row; 
    text-align: center;
    justify-content: center;   
}