.powitanie{
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
    font: italic normal 300 4vw/5vw Segoe UI;
    color: #707070;    
}
.formy{
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
form {

    width: 50%;
    height: auto;
    text-align: center;

    font-size: 2vw; 
}  
button{
    background: #faf3eb ;
    border: 1px solid #49494967;
    border-radius: 17px;
    opacity: 0.5;
    height: 6vh;
    width: auto;
    min-width: 30vw;
    margin: 2vw;
}
.logo{
    background-image:url('../img/duze-logo-z-napisem.svg');
    max-width: 50vw;
    height: auto;
}

@media screen and (max-width: 411px) {
    .container{
        display: flex;
        justify-content: flex-start;
    }
    button {
      width: 100%;
      height: auto;
    }
    .logo{
        display: block;
        margin: auto;


    }

  }
