body{
    margin: 0;
    background: #ead4b7;
    font: italic normal 1.5vw/1.5vw Segoe UI;
    color: #c2bdbd67;
}

.container{
    background: #ead4b7;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}
.respo{ 
    max-width: 50vw;
    height: auto;  
}


button:hover{
    background-color: #FFFFFF;
    border-radius: 17px;
    color: #000000;
    cursor: pointer;    
}
input{
    background: #f5e7d5;
    height: 2vh;
    width: auto;
    border-style: none;
    text-align: left;
    text-align: bottom;
    font: italic normal 300 20px/20px Segoe UI;
    border-bottom: 1px solid #92929267;
    margin-bottom: 3%;
}
.male-logo{
    float: left;
    margin: 1vh;
    margin-left: 5vw;
    margin-right: 5vw;
    
}
.kafelek{
    float: left;
    background: #f2e5d3 0% 0% no-repeat padding-box;
    min-width: 270px;
    height: auto;
    margin: 1.5vh;  
    
    background-repeat: no-repeat;
    background-size: contain;
}
.mem{
    max-width: 270px;
    height: auto;
    background-size: contain;   
}

@media screen and (max-width: 411px) {
   
}