body{
    margin: 0;
    background: transparent linear-gradient(58deg, #D975929C 0%, #F4FF53A8 100%) no-repeat padding-box;
    /*background: #ead4b7;*/
    font: italic normal 1.5vw/1.5vw Segoe UI;
    color: #c2bdbd67;
}

.container{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.respo{ 
    max-width: 50vw;
    height: auto;  
}


button:hover{
    background-color: #FFFFFF;
    border-radius: 17px;
    color: #000000;
    cursor: pointer;    
}
input{
    background: #f5e7d5;
    height: 2vh;
    width: auto;
    border-style: none;
    text-align: left;
    font: italic normal 300 20px/20px Segoe UI;
    border-bottom: 1px solid #92929267;
    margin-bottom: 3%;
}
.male-logo{
    float: left;
    margin: 1vh;
    margin-left: 5vw;
    margin-right: 5vw;
    
}
.kafelek{
    float: left;
    background: #f2e5d3 0% 0% no-repeat padding-box;
    min-width: 270px;
    height: 200px;
    margin: 1.5vh;  
    
    background-repeat: no-repeat;
    background-size: contain;
}
.mem{
    max-width: 270px;
    height: auto;
    background-size: contain;   
}
.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
@media screen and (max-width: 411px) {
   
}